body {
    font-family: sans-serif;
}

@keyframes flash1 {
    10% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

@keyframes flash2 {
    10% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

.flash1,
.flash2 {
    animation-duration: 50s;
    animation-timing-function: ease-out;
}

.flash1 {
    animation-name: flash1;
}

.flash2 {
    animation-name: flash2;
}