body {
    font-family: sans-serif;
}

@keyframes flash1 {
    0% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

@keyframes flash2 {
    0% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

.flash1, .flash2 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.flash1 {
    animation-name: flash1;
}

.flash2 {
    animation-name: flash2;
}